@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --screen-keyOrIdx: #6782bb;
  --screen-type: #dddee9;
  --screen-primary: #2c2e44;
  --screen-secondary: #1e202f;
  --screen-tertiary: #55bdf7;

  --screen-array: #bd93f9;
  --screen-bigint: #ad82cb;
  --screen-boolean: #f1fa8c;
  --screen-comment: #6272a4;
  --screen-date: #ffae57;
  --screen-function: #77e89d;
  --screen-htmlbodyelement: #6f6fff;
  --screen-location: #ff8cf0;
  --screen-map: #00aaff;
  --screen-null: #ff5555;
  --screen-number: #50fa7b;
  --screen-object: #ff79c6;
  --screen-regexp: #f1fa8c;
  --screen-set: #aa00ff;
  --screen-string: #ffb86c;
  --screen-symbol: #ff6e67;
  --screen-undefined: #8be9fd;
  --screen-weakmap: #ffaa00;
  --screen-weakset: #ff00aa;
}
