@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Atom One */
    --sl-slate: #a0a1a7;
    --sl-cyan: #0184bb;
    --sl-green: #50a14f;
    --sl-orange: #d19a66;
    --sl-pink: #c678dd;
    --sl-purple: #a626a4;
    --sl-red: #e45649;
    --sl-yellow: #e5c07b;

    /* Atom One + Custom */
    --sl-blue: #008cff;
    --sl-lilac: #ad82cb;
    --sl-mint: #77e89d;
    --sl-gold: #ffaa00;
    --sl-custard: #ffae57;
    --sl-magenta: #ff00aa;
    --sl-terracotta: #ff6e67;
    --sl-sky: #00aaff;
    --sl-royal: #aa00ff;
    --sl-rose: #ff8cf0;
    --sl-indigo: #6f6fff;
    --sl-blush: #ff97a0;

    /* Foundational Colours */
    --sl-muted: #7b8bad;
    --sl-type: #40424c;
    --sl-primary: #fff;
    --sl-secondary: hsl(233, 22%, 97%);
    --sl-tertiary: #55bdf7;
    --sl-quaternary: #42b883;

    /* Token Colours */
    --sl-array: var(--sl-purple);
    --sl-arraybuffer: var(--sl-purple);
    --sl-asyncfunction: var(--sl-blush);
    --sl-asyncgeneratorfunction: var(--sl-blush);
    --sl-bigint: var(--sl-lilac);
    --sl-bigint64array: var(--sl-purple);
    --sl-biguint64array: var(--sl-purple);
    --sl-boolean: var(--sl-yellow);
    --sl-comment: var(--sl-slate);
    --sl-date: var(--sl-custard);
    --sl-error: var(--sl-red);
    --sl-file: var(--sl-blush);
    --sl-float32array: var(--sl-purple);
    --sl-float64array: var(--sl-purple);
    --sl-function: var(--sl-blush);
    --sl-generatorfunction: var(--sl-blush);
    --sl-int8array: var(--sl-purple);
    --sl-int16array: var(--sl-purple);
    --sl-int32array: var(--sl-purple);
    --sl-location: var(--sl-rose);
    --sl-map: var(--sl-sky);
    --sl-math: var(--sl-yellow);
    --sl-null: var(--sl-red);
    --sl-number: var(--sl-green);
    --sl-object: var(--sl-pink);
    --sl-regexp: var(--sl-yellow);
    --sl-set: var(--sl-royal);
    --sl-string: var(--sl-orange);
    --sl-symbol: var(--sl-terracotta);
    --sl-uint8array: var(--sl-purple);
    --sl-uint16array: var(--sl-purple);
    --sl-uint16array: var(--sl-purple);
    --sl-uint32array: var(--sl-purple);
    --sl-uint8clampedarray: var(--sl-purple);
    --sl-undefined: var(--sl-cyan);
    --sl-url: var(--sl-mint);
    --sl-urlsearchparams: var(--sl-mint);
    --sl-weakmap: var(--sl-gold);
    --sl-weakref: var(--sl-blue);
    --sl-weakset: var(--sl-magenta);

    [data-mode='dark'] {
      /* Dracula */
      --sl-slate: #6272a4;
      --sl-cyan: #8be9fd;
      --sl-green: #50fa7b;
      --sl-orange: #ffb86c;
      --sl-pink: #ff79c6;
      --sl-purple: #bd93f9;
      --sl-red: #ff5555;
      --sl-yellow: #f1fa8c;

      /* Dracula + Custom */
      --sl-blue: #008cff;
      --sl-lilac: #ad82cb;
      --sl-mint: #77e89d;
      --sl-gold: #ffaa00;
      --sl-custard: #ffae57;
      --sl-magenta: #ff00aa;
      --sl-terracotta: #ff6e67;
      --sl-sky: #00aaff;
      --sl-royal: #aa00ff;
      --sl-rose: #ff8cf0;
      --sl-indigo: #6f6fff;
      --sl-blush: #ff97a0;

      /* Foundational Colours */
      --sl-muted: #6782bb;
      --sl-type: #dddee9;
      --sl-primary: #2c2e44;
      --sl-secondary: #1e202f;
      --sl-tertiary: #55bdf7;
      --sl-quaternary: #42b883;

      /* Token Colours */
      --sl-array: var(--sl-purple);
      --sl-arraybuffer: var(--sl-purple);
      --sl-asyncfunction: var(--sl-blush);
      --sl-asyncgeneratorfunction: var(--sl-blush);
      --sl-bigint: var(--sl-lilac);
      --sl-bigint64array: var(--sl-purple);
      --sl-biguint64array: var(--sl-purple);
      --sl-boolean: var(--sl-yellow);
      --sl-comment: var(--sl-slate);
      --sl-date: var(--sl-custard);
      --sl-error: var(--sl-red);
      --sl-file: var(--sl-blush);
      --sl-float32array: var(--sl-purple);
      --sl-float64array: var(--sl-purple);
      --sl-function: var(--sl-blush);
      --sl-generatorfunction: var(--sl-blush);
      --sl-int8array: var(--sl-purple);
      --sl-int16array: var(--sl-purple);
      --sl-int32array: var(--sl-purple);
      --sl-location: var(--sl-rose);
      --sl-map: var(--sl-sky);
      --sl-math: var(--sl-yellow);
      --sl-null: var(--sl-red);
      --sl-number: var(--sl-green);
      --sl-object: var(--sl-pink);
      --sl-regexp: var(--sl-yellow);
      --sl-set: var(--sl-royal);
      --sl-string: var(--sl-orange);
      --sl-symbol: var(--sl-terracotta);
      --sl-uint8array: var(--sl-purple);
      --sl-uint16array: var(--sl-purple);
      --sl-uint16array: var(--sl-purple);
      --sl-uint32array: var(--sl-purple);
      --sl-uint8clampedarray: var(--sl-purple);
      --sl-undefined: var(--sl-cyan);
      --sl-url: var(--sl-mint);
      --sl-urlsearchparams: var(--sl-mint);
      --sl-weakmap: var(--sl-gold);
      --sl-weakref: var(--sl-blue);
      --sl-weakset: var(--sl-magenta);
    }
  }
}
